; [user]
; 	signingkey = /home/baka/.ssh/for_github.pub
;     name = バカです
; 	email = 
[user]
	signingkey = E326C804DCD03B88
    name = バカです
	email = 
[core]
    editor = nvim
    excludesfile = /home/baka/.gitignore_global
    pager = delta
[init]
    defaultBranch = main
[merge]
    ; conflictstyle = diff3
    conflictstyle = zdiff
[diff]
    ; colorMoved = default
    colorMoved = plain
    algorithm = histogram
    mnemonicPrefix = true
    renames = true
[difftool]
    prompt = false
[interactive]
    diffFilter = delta --color-only
[delta]
    navigation = true
    side-by-side = true
    light = false
    line-numbers = true
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[alias]
    c = checkout
    co = commit
    cp = cherry-pick
    b = branch
    d = diff
	show-graph = log --graph --abbrev-commit --pretty=oneline
[commit]
	gpgsign = true
    verbose = true
[pull]
	rebase = false
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[rerere]
    enable = true
    autoupdate = true
[color]
	ui = auto
[column]
    ui = auto
[maintenance]
	repo = /home/baka/how-to
[help]
	autocorrect = prompt
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[feature]
    experimental = true

