nvim/undo/*
alacritty/*
nvim/spell/*
nvim/tags
./tags
tags
obs-studio/*
oomox/*
pulse/*
qalculate/*
totem/*
user*
neofetch/*
nautilus/*
mpv/watch_later/*
mime*
libreoffice/*
Tc*
Qt*
Ud*
Vir*
Zeal/*
audacious/*
blender/*
cef*
cli*
coc/*
cumu*
dconf/*
enchant/*
eog/*
evolution/*
flameshot/*
gedit/*
gnome*
gtk*
htop*
ibus/*
kdiff*
krita*
fcitx/*
!fcitx/skin

dunst*
.themes*

